    body{
        background-color: #7428DF;
        
    }
    button{
        background-color: #ffffff ;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        
        
    }

    button.Usuario{
        color: rgb(255, 5, 5);
        
    }

    button.Entrar{
        color: rgb(255, 255, 255);
        background-color: green;
        
    }

    button.CriarConta{
        color: red;
        

    }

img {
  display: block;
  margin: 0 auto;
}